@import "tailwindcss";

html, body {
  overflow-x: hidden;
  width: 100%;
}

/* Se algum elemento tentar passar da largura, ele ficará invisível */
* {
  max-width: 110vw !important;
  box-sizing: border-box;
}

/* Remove qualquer scroll horizontal de containers */
:root {
  overscroll-behavior-x: none;
  touch-action: pan-y; /* Permite só movimento vertical no touchscreen */
}

/* Previne zoom lateral causado por Swiper / imagens */
img, video {
  max-width: 100vw !important;
  height: auto;
}
